body{
position: relative;
    background: #eee;
}

/*START SNT CALLBACK HUNTER*/

/*callback buttons*/
#snt-cb-wrapper{
    position: fixed;
    right:50px;
    bottom: 50px;
    overflow: hidden;
    z-index: 99996!important;
}

#snt-callback-form{display: inline-block;}

.snt-phone-wrapper,.mail-wrapper{display: inline-block;overflow: hidden;}

.snt-callback-input{
    display: inline-block;
    font-size: 18px;
}

.snt-input-style{
    font-size: 18px;
}

.snt-input-style:focus,.snt-input-style:active{outline: none;border: none;}

#snt-input-wrapper{
    padding: 12px;
    background: rgba(204, 204, 204, 0.70);
    display: none;
}

.snt-btn-submit{
    position: relative;
    z-index: 10;
    padding: 23px 25px;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    color: transparent;
    max-width: 70px;
}

#snt-btn-email{background: url('email1.png') no-repeat 50% #34AADC;}

#snt-btn-submit{background: url('phone-icon1.png') no-repeat 50% #34AADC;}

/*END callback buttons*/

/*animation slide phone input*/
.animated {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(27%, 0, 0);
    transform: translate3d(27%, 0, 0);
      opacity: .4;
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
      opacity: .4;
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}



@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
      opacity: .3
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
      visibility: hidden;
      opacity: .3
      -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    
    
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}


/*END animation slide phone input*/


/*modul-window*/

.snt-popup{
    background: #fff;
    max-width: 500px;
    min-width: 250px;
    padding: 20px;
    position: fixed;
    z-index: 99995!important;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    display: none;
}

.snt-form-contact{max-width: 500px;}

.snt-form-contact .inputs-wrapper {
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
}

.snt-form-contact input, .snt-form-contact textarea {
    background: none;
    border: none;
    box-shadow: none;
    font-family: segoe-light;
    font-size: 16px;
    width: 100%;
    padding: 16px;
    max-width: 100%;
    max-height: 300px;
}

.snt-form-contact input {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.snt-btn-primary {
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #34AADC;
    font-family: segoe-regular, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2CBFC0;
    background: none;
}

.snt-form-ok-desc{font-size: 24px;}

/* END modul-window*/

/*mask*/

#snt-mask{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.66);
    z-index: 99994!important;
    display: none;
}

/*END mask*/

/*END SNT CALLBACK HUNTER*/